@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #333;
    --secondary-color: rgb(112, 112, 112);
    --light-color: #5B616A;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

/* Navigation */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;

    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
}

.navbar ul {
    display: flex;
}

.navbar i {
    color: #fff;
    padding: 2px;
    margin: 0 5px;;
}

.navbar .flex {
    justify-content: space-between;
}

/* showcase */
.showcase {
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: auto;
  gap: 30px;
  overflow: visible;
}

/* stats */
.stats {
  padding-top: 60px;
}

.stats-heading {
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

/* features */
.features-main .grid {
    padding: 30px;
}

.card-img {
  height: 200px;
  width: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.impresum {
  margin-bottom: 17px;
  margin-top: 10px;
}

/* footer */  
.footer .social a {
  margin: 0 10px;
  float: right;
}

.footer {
  padding-bottom: 20px;
}

.fa-facebook,
.fa-instagram {
    transition: color 0.2s;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    color: #FD1D1D;
}